
/Mobidex/bin
/Mobidex/deliverables
/Mobidex/.classpath

/GameCardsDev/.preprocessed
/GameCardsDev/bin
/Mobidex/.preprocessed
/GameCardsDev/deliverables

/TopCarCards/.preprocessed
/TopCarCards/bin
/TopCarCards/deliverables

/SportCards/.preprocessed
/SportCards/bin
/SportCards/deliverables

/Phakama/.preprocessed
/Phakama/bin
/Phakama/deliverables

/FHMCards/.preprocessed
/FHMCards/bin
/FHMCards/deliverables

/KickOff/.preprocessed
/KickOff/bin
/KickOff/deliverables

/Muzik/.preprocessed
/Muzik/bin
/Muzik/deliverables