
/Mobidex/bin
/Mobidex/deliverables
/Mobidex/.classpath

/GameCardsDev/.preprocessed
/GameCardsDev/bin
/Mobidex/.preprocessed
/GameCardsDev/deliverables

/TopCarCards/.preprocessed
/TopCarCards/bin
/TopCarCards/deliverables

/SportCards/.preprocessed
/SportCards/bin
/SportCards/deliverables

/Phakama/.preprocessed
/Phakama/bin
/Phakama/deliverables